#!/bin/bash
export DEBUG="True"
export DATABASE_URL="postgresql://{{ deployer_user }}:{{ db_password }}@localhost/{{ app_name }}"
# export DJANGO_SECRET_KEY="changeme"
# export DJANGO_SETTINGS_MODULE="config.settings.production"
